{% extends 'base.html.twig' %}


{% block body%}

    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <h2>{{ 'index.Countries of Europe'|trans({}, 'country')}}</h2>
    <hr>
    <a class="text" href="{{ path('show_all') }}">
        <button class="button button">{{ 'index.Show all cities'|trans({}, 'country')}}</button>
    </a>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>{{ 'index.Country'|trans({}, 'country')}}</td>
            <td>{{ 'index.Code'|trans({}, 'country')}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>
                    {{ country.id }}
                </td>
                <td>
                    {{ country.countryname }}
                </td>
                <td>
                    {{ country.code }}
                </td>
                <td>
                    <a class="text" href="{{ path('show', {id: country.id}) }}">
                        <button class="button button1">{{ 'index.Show'|trans({}, 'country')}}</button>
                    </a>
                </td>
                <td>
                    <a class="text-success" href="{{ path('update', {id: country.id}) }}">
                        <button class="button button2">{{ 'index.Edit'|trans({}, 'country')}}</button>
                    </a>
                </td>
                <td>
                    <a class="text-danger" href="{{ path('remove', {id: country.id}) }}">
                        <button class="button button3">{{ 'index.Delete'|trans({}, 'country')}}</button>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <button class="button button" onClick="window.print()">{{ 'index.Print'|trans({}, 'country')}}</button>
{% endblock %}
